@using ProgressTask.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HTML Preview APP</h1>
    <p>Save all your HTML templates in our database . Modify them , and check how they are rendered straight away.</p>
</div>
