@{ this.ViewData["Title"] = "Page Not Found"; }


<body onload="hideBanner()">
    <hr />
    <hr />
    <h1 class="text-xl-center" style="padding:25px"><font face="Brush Script MT" size="+7">Page Not Found</font></h1>
    <div class="text-center">
        <img src="~/404.gif" class="img-fluid mx-auto" style="width:850px" />
    </div>
    <a href="#" class="btn btn-info btn-sm mb-3 has-icon" onclick="goBack()"><i class="fa fa-arrow-left mr-2"></i>Back To Site</a>
</body>



@section Scripts{
    <script>
        function hideBanner() {
            let bannerToHide = document.getElementsByClassName('masthead')[0];
            bannerToHide.style.display = 'none';
        }
        function goBack() {
            window.history.back();
        }
    </script>
}